---
import Avatar from '../components/Avatar.astro'
import { LinkButton } from '../components/Button'
import Card from '../components/Card.astro'
import { Clock } from '../components/Clock'
import Contacts from '../components/Contacts.astro'
import { GradientText } from '../components/GradientText'
import LineOfWork from '../components/LineOfWork.astro'
import Page from '../components/layouts/Page.astro'
import Section from '../components/Section.astro'
import SkillItem from '../components/SkillItem.astro'
import Touchable from '../components/Touchable'
import { SKILLS } from '../data/skills'
import IconMail from '../icons/mail.svg?component-solid'
import IconNext from '../icons/next.svg'
import IconWork from '../icons/work.svg?component-solid'
import { getAge } from '../utils/date'
---

<Page padx="xl">
	<section id="hero" flex="~ horz horz-y-center horz-x-center wrap" gap="3xl" pady="4xl">
		<Avatar />
		<div flex="~ vert" gap="m" style="padding-block-start: var(--gap-2xl);">
			<h1 class="text-display">Hey there, I'm <span><GradientText direction='45deg'>Palm</GradientText></span>!</h1>
			<div>
				<p class="text-label-large tint-high">Full-Stack Developer, UI/UX Designer</p>
				<p class="text-label-large tint-low">Bangkok, Thailand • <Clock client:only="solid-js">
					<span slot="fallback">Tick tock...</span>	
				</Clock></p>
			</div>
			<p class="balance">I make cool things with user experience and accessibility in mind.</p>
			<div flex="~ horz" gap="m">
				<LinkButton href="/work" icon={IconWork} text="View my work" />
				<LinkButton client:visible href="#get-in-touch" variant="glass" icon={IconMail} text="Get in touch" />
			</div>
		</div>
	</section>
	<section flex="~ vert" id="brief" pady="2xl" gap="xl">
		<p>
			I'm <span class="tint-high">Pasuthorn Buala</span> (<span class="tint-high">Palm</span>), a {getAge()}-year-old from <span class="tint-high">Bangkok, Thailand</span>.
			<br>
			I have been making websites and applications for <span class="tint-high">more than {getAge() - 13} years!</span>
		</p>
		<LineOfWork />
		<div flex="~ vert" gap="m">
			<h1 class="text-heading">with these technologies</h1>
			<ul class="list card-grid">
				{SKILLS.slice(0, 6).map((skill) => (
					<SkillItem name={skill.name} icon={skill.icon} />
				))}
				<Touchable client:visible as="a" class="skills-cta" href="/work#skills" aria-label="View all skills">
					<Card class="actual-card" flex="~ horz-y-center horz-x-center" gap="xs">
						<span class="text-heading">View all</span>
						<IconNext class="icon" />
					</Card>
				</Touchable>
			</ul>
		</div>
		<Section title="Projects" id="projects" flex="vert-x-center">
			TODO
		</Section>
		<Section title="Experience" id="experience" flex="vert-x-center">
			TODO
		</Section>
		<Section title="Get in touch" description="Want to know more about me, work with me, or just want to have a casual chat? Feel free to reach out!" id="get-in-touch">
			<Contacts />
		</Section>
	</section>
</Page>

<style>
	.balance {
		text-wrap: balance;
	}

	.list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.card-grid {
		display: grid;
    	grid-template-columns: repeat(9, 1fr);
    	grid-template-rows: repeat(1, 1fr);
		gap: var(--gap-xs);
	}

	.skills-cta {
		grid-column: span 3;
		height: 100%;
		text-decoration: none;
		color: var(--neutral-high);
		border-radius: var(--rad-sm);

		& .icon {
			width: 48px;
			height: 48px;
			fill: currentColor;
		}

		&, & .actual-card {
			height: 100%;
		}
	}

	section {
		max-width: 720px;
	}

	section#hero {
		max-width: initial;
	}

	.tint-high {
		color: var(--tinted-high);
	}

	.tint-low {
		color: var(--tinted-low);
	}
</style>