---
import Avatar from '../components/Avatar.astro'
import { LinkButton } from '../components/Button'
import { Clock } from '../components/Clock'
import Contacts from '../components/Contacts.astro'
import { GradientText } from '../components/GradientText'
import LineOfWork from '../components/LineOfWork.astro'
import Page from '../components/layouts/Page.astro'
import ProjectCard from '../components/ProjectCard.astro'
import SkillsCTA from '../components/pages/index/SkillsCTA.astro'
import Section from '../components/Section.astro'
import SkillItem from '../components/SkillItem.astro'
import Touchable from '../components/Touchable'
import EXPERIENCES from '../data/experience'
import PROJECTS from '../data/projects'
import { SKILLS } from '../data/skills'
import IconMail from '../icons/mail.svg?component-solid'
import IconWork from '../icons/work.svg?component-solid'
import { getAge } from '../utils/date'
---

<Page padx="xl">
	<section id="hero" flex="~ horz horz-y-center horz-x-center wrap" gap="3xl" pady="4xl">
		<Avatar />
		<div flex="~ vert" gap="m" style="padding-block-start: var(--gap-2xl);">
			<h1 class="text-display">Hey there, I'm <span><GradientText direction='45deg'>Palm</GradientText></span>!</h1>
			<div>
				<p class="text-label-large tint-high">Full-Stack Developer, UI/UX Designer</p>
				<p class="text-label-large tint-low">Bangkok, Thailand • <Clock client:only="solid-js">
					<span slot="fallback">Tick tock...</span>	
				</Clock></p>
			</div>
			<p class="balance">I make cool things with user experience and accessibility in mind.</p>
			<div flex="~ horz" gap="m">
				<LinkButton href="/work" icon={IconWork} text="View my work" />
				<LinkButton client:visible href="#get-in-touch" variant="glass" icon={IconMail} text="Get in touch" />
			</div>
		</div>
	</section>
	<section flex="~ vert" id="brief" pady="2xl" gap="xl">
		<p>
			I'm <span class="tint-high">Pasuthorn Buala</span> (<span class="tint-high">Palm</span>), a {getAge()}-year-old from <span class="tint-high">Bangkok, Thailand</span>.
			<br>
			I have been making websites and applications for <span class="tint-high">more than {getAge() - 13} years!</span>
		</p>
		<LineOfWork />
		<div flex="~ vert" gap="m">
			<h1 class="text-heading">with these technologies</h1>
			<div flex="~" gap="xs">
				<ul class="list card-grid">
					{SKILLS.slice(0, 6).map((skill) => (
						<SkillItem name={skill.name} icon={skill.icon} />
					))}
				</ul>
				<SkillsCTA />
			</div>
		</div>
		<Section title="Projects" id="projects" flex="vert-x-center">
			<ul class="list card-carousel" gap="s" flex="~">
				{PROJECTS.slice(0, 3).map(({ name, description, href, image, hint }) => (
					<li class="carousel-item">
						<ProjectCard preview={image} {name} {description} {href} {hint} />
					</li>
				))}
			</ul>
			<LinkButton icon={IconWork} href="/work#projects" text="View more projects" variant="glass" />
		</Section>
		<Section title="Experience" id="experience" flex="vert-x-center">
			<div flex="~" gap="l">
				{EXPERIENCES.slice(0, 2).map(({ name, image, href }) => (
					<Touchable as="a" class="exp-item" client:visible title={name} href={href} target="_blank" rel="noreferrer">
						<img src={image} alt={name} class="exp-image" />
					</Touchable>
				))}
			</div>
			<LinkButton icon={IconWork} href="/work#experience" text="View full experience" variant="glass" />
		</Section>
		<Section title="Get in touch" description="Want to know more about me, work with me, or just want to have a casual chat? Feel free to reach out!" id="get-in-touch">
			<Contacts />
		</Section>
	</section>
</Page>

<style>
	.balance {
		text-wrap: balance;
	}

	.list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.card-carousel {
		& > .carousel-item {
			flex: 1;
		}
	}

	.card-grid {
		display: grid;
    	grid-template-columns: repeat(6, 1fr);
    	grid-template-rows: repeat(1, 1fr);
		gap: var(--gap-xs);
	}

	.skills-cta-item {
		grid-column: span 3;
		height: 100%;
	}

	section {
		max-width: 720px;
	}

	section#hero {
		max-width: initial;
	}

	.exp-item {
	    border-radius: var(--rad-sm);
	}

	.exp-image {
		filter: saturate(0) brightness(0.8);
		height: 128px;
		width: auto;
		transition: filter var(--dur-medium) var(--ease);

		&:hover {
			filter: unset;
		}
	}

	.tint-high {
		color: var(--tinted-high);
	}

	.tint-low {
		color: var(--tinted-low);
	}
</style>