---
import './_styles/index.css'

import Avatar from '../components/Avatar.astro'
import { LinkButton } from '../components/Button'
import { Clock } from '../components/Clock'
import Contacts from '../components/Contacts.astro'
import { GradientText } from '../components/GradientText'
import LightDarkImage from '../components/LightDarkImage.astro'
import LineOfWork from '../components/LineOfWork.astro'
import Page from '../components/layouts/Page.astro'
import ProjectCard from '../components/ProjectCard.astro'
import SkillsCTA from '../components/pages/index/SkillsCTA.astro'
import Section from '../components/Section.astro'
import SkillItem from '../components/SkillItem.astro'
import Touchable from '../components/Touchable'
import EXPERIENCES from '../data/experience'
import PROJECTS from '../data/projects'
import { SKILLS } from '../data/skills'
import IconMail from '../icons/mail.svg?component-solid'
import IconWork from '../icons/work.svg?component-solid'
import { getAge } from '../utils/date'
---

<Page>
	<section id="hero" flex="~ horz horz-y-center horz-x-center wrap" gap="3xl" pady="4xl">
		<Avatar />
		<div class="hero-content" flex="~ vert" gap="m">
			<h1 class="text-display hero-text">Hey there, I'm <span><GradientText direction='45deg'>Palm</GradientText></span>!</h1>
			<div>
				<p class="text-label-large tint-high hero-text">Full-Stack Developer, UI/UX Designer</p>
				<p class="text-label-large tint-low hero-text">Bangkok, Thailand<span aria-hidden="true"> • <Clock client:idle /></span>
			</div>
			<p class="balance hero-text">I make cool things with user experience and accessibility in mind.</p>
			<div class="hero-buttons" flex="~ horz wrap" gap="m">
				<LinkButton client:visible href="/work" icon={IconWork} text="View my work" />
				<LinkButton client:visible href="#get-in-touch" variant="glass" icon={IconMail} text="Get in touch" />
			</div>
		</div>
	</section>
	<section flex="~ vert" id="brief" pady="2xl" gap="xl">
		<p>
			I'm <span class="tint-high">Pasuthorn Buala</span> (<span class="tint-high">Palm</span>), a {getAge()}-year-old from <span class="tint-high">Bangkok, Thailand</span>.
			<br>
			I have been making websites and applications for <span class="tint-high">more than {getAge() - 13} years!</span>
		</p>
		<LineOfWork />
		<div flex="~ vert" gap="m">
			<h1 class="text-heading">with these technologies</h1>
			<div flex="~" gap="xs">
				<ul class="list card-grid">
					{SKILLS.slice(0, 6).map(({ name, icon, iconLight }) => (
						<SkillItem {name} {icon} {iconLight} />
					))}
					<li class="skills-cta-item">
						<SkillsCTA />
					</li>
				</ul>
			</div>
		</div>
		<Section title="Projects" id="projects" flex="vert-x-center">
			<ul class="list card-carousel projects-list" gap="s" flex="~">
				{PROJECTS.slice(0, 3).map(({ name, description, href, image, hint }) => (
					<ProjectCard preview={image} {name} {description} {href} {hint} />
				))}
			</ul>
			<LinkButton client:visible icon={IconWork} href="/work#projects" text="View more projects" variant="glass" />
		</Section>
		<Section title="Experience" id="experience" flex="vert-x-center">
			<ul class="list" flex="~ horz-y-center vert-y-center" gap="l">
				{EXPERIENCES.slice(0, 2).map(({ name, image, imageLight, href }) => (
					<li class="exp-item">
						<Touchable as="a" class="exp-item-link" client:visible title={name} href={href} target="_blank" rel="noreferrer">
							<LightDarkImage srcLight={imageLight} src={image} alt={name} class="exp-image" />
						</Touchable>
					</li>
				))}
			</ul>
			<LinkButton client:visible icon={IconWork} href="/work#experience" text="View full experience" variant="glass" />
		</Section>
		<Section title="Get in touch" description="Want to know more about me, work with me, or just want to have a casual chat? Feel free to reach out!" id="get-in-touch">
			<Contacts />
		</Section>
	</section>
</Page>

<style lang="scss">
	@use '../styles/breakpoints';

	.balance {
		text-wrap: balance;
	}

	.list {
		list-style: none;
		padding: 0;
		margin: 0;
		flex-wrap: wrap;
	}

	.hero-content {
		padding-block-start: var(--gap-2xl);
	}

	.projects-list {
		flex-wrap: nowrap;

		@media (max-width: breakpoints.$tablet - 96px) {
			display: flex;
			max-width: 384px;
			flex-wrap: wrap;
		}
	}

	@media (max-width: breakpoints.$tablet + 192px) {
		section#hero {
			flex-direction: column;
			gap: var(--gap-xl);
			padding-block: var(--gap-2xl);
		}

		.hero-content {
			padding-block-start: 0;
		}

		.hero-text {
			text-wrap: balance;
			text-align: center;
		}

		.hero-buttons {
			justify-content: center;
		}
	}

	.card-carousel {
		& > .carousel-item {
			flex: 1;
		}
	}

	.card-grid {
		display: grid;
		flex: 1;
    	grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
		gap: var(--gap-xs);
	}

	.skills-cta-item {
		grid-column: span 3;
	}

	section {
		max-width: 720px;
	}

	section#hero {
		max-width: initial;
	}

	.exp-item {
		display: flex;
		justify-content: center;
		flex: 1;
	}
	
	.exp-item-link {
		display: flex;
		justify-content: center;
		width: 100%;
		border-radius: var(--rad-sm);
	}

	.tint-high {
		color: var(--tinted-high);
	}

	.tint-low {
		color: var(--tinted-low);
	}
</style>