---
import IconNext from '../icons/next.svg'
import Card from './Card.astro'
import Touchable from './Touchable'

const { preview, name, description, hint = 'View project', href } = Astro.props
---

<Touchable class="project-card" as="li" client:visible>
    <a class="project-card" {href} target="_blank" rel="noreferrer">
        <Card flex="~ vert" class="actual-card">
            <div class="preview" flex="~ horz-y-center horz-x-center">
                <img alt={`${name} logo`} class="preview-img" src={preview} />
            </div>
            <div class="info" gap="m" pad="m" flex="~ vert">
                <div flex="~ vert" gap="2xs">
                    <h1 class="text-subheading">{name}</h1>
                    <p class="text-body-small">{description}</p>
                </div>
                <div flex="~ horz-y-center" gap="2xs">
                    <p class="text-label-small hint">{hint}</p>
                    <IconNext class="hint-icon" />
                </div>
            </div>
        </Card>
    </a>
</Touchable>

<style>
    .actual-card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .info {
        flex: 1;
        justify-content: space-between;
    }

    .project-card {
        text-decoration: none;
        min-width: 192px;
        border-radius: var(--rad-sm);
    }

    .preview-img {
        height: 96px;
        transition: scale var(--dur-long) var(--ease);

        .project-card:hover & {
            scale: var(--intr-hover-zoom-scale);
        }

        .project-card:active & {
            scale: var(--intr-tap-scale);
        }
    }

    .preview {
        background-color: var(--surface-highest);
        height: 160px;
        border-radius: var(--rad-sm);
    }

    .hint {
        color: var(--tinted-low);
    }

    .hint-icon {
        content: "";
        width: 16px;
        height: 16px;
        color: var(--tinted-low);
    }
</style>